{% extends "base.html.twig" %}

{% block title %}
    Mes reservations !
{% endblock title %}

{% block body %}


<div class="container">
    <h1 class="my-5">Mes reservations</h1>
    <div class="alert alert-info mt-5">
        <p>Retrouvez toutes vos réservations passées et à venir.</p>
    </div>
    
    {% for booking in app.user.bookings %}
    {% set ad = booking.ad %}
        <div class="row my-4">
            <div class="col-md-4">
                <img src="{{ ad.coverImage }}" alt="image de {{ ad.title }}" class="img-fluid">
                <div class="mt-1">
                    {% set comment = ad.commentFromAuthor(app.user) %}
                    {% if comment is not null %}
                        <strong>Note donné : </strong>
                        {% include "includes/rating.html.twig" with {'rating': comment.rating} %}
                    {% else %}
                        <a href="{{ path('booking_show', {'id': booking.id}) }}#comment">Donner mon avis</a>
                    {% endif %}
                </div>
            </div>

            <div class="col-md-8">
                <h4>{{ ad.title }}</h4>
                <p>
                    Réservation <strong>n°{{booking.id}}</strong><br>
                    du {{booking.startDate|date('d/m/Y')}} au {{booking.endDate|date('d/m/Y')}} pour <strong>{{booking.amount|number_format(2, ',', ' ')}}€</strong>
                    <a href="{{ path('booking_show', {'id': booking.id}) }}" class="btn btn-info">Plus d'informations</a>
                </p>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock body %}