{% extends 'base.html.twig' %}

{% block title %}Acceuil !
{% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron mt-5">
        <h1 class="display-3">Bienvenue sur SymfoBNB !</h1>
        <p class="lead">Nous mettons en relation les propriétaires et les voyageurs qui recherchent a se loger pour
            leurs séjour à l'étranger.</p>
        <hr class="my-4">
        <p>Vous êtes un voyageurs, et vous chercher votre prochain coin de paradis ?</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos annonces !</a>
        </p>
    </div>

    <h2 class="h1 my-5">Nos appartements stars</h2>

    <div class="row">
        {% for data in ads %}
        {% include "ad/_ad.html.twig" with {'ad': data.annonce} %}
        {% endfor %}
    </div>

    <h2 class="h1 my-5">Nos hôtes stars</h2>
    <div class="row">
        {% for data in users %}
        {% set user = data.user %}
        
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title">{{user.fullName}}</h4>
                    <hr>
                    <div class="card-text">
                        <img src="{{user.picture}}" class="float-left mr-3" alt="Avatar de {{user.fullName}}">
                        <p>{{ user.introduction }}</p>
                        <a href="{{path('user_show', {'slug': user.slug})}}" class="btn btn-success float-right"> en savoir plus !</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}