<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<a class="navbar-brand" href="{{path('homePage')}}">SymfoBNB !</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
		aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarColor01">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="{{path('homePage')}}">Acceuil</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{path('ads_index')}}">Annonces</a>
			</li>
		</ul>
		<ul class="navbar-nav ml-auto">
			{% if not app.user %}
			<li class="nav-item">
				<a class="nav-link" href="{{ path('account_register') }}">Inscription</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('account_login') }}">Connexion</a>
			</li>
			{% elseif app.user %}
			<li class="nav-item">
				<a class="nav-link" href="{{ path('account_logout') }}">Déconnexion</a>
			</li>
			{% endif %}
		</ul>
	</div>
</nav>