{% extends 'base.html.twig' %}

{% block title %}reserver {{ad.title}}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
    integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw=="
    crossorigin="anonymous" />
{% endblock stylesheets %}

{% block body %}

<div class="container">
    <H1>Reserver le logement : <em>{{ad.title}}</em></H1>
    <p>Vous etes sur le point de reserver le logement de {{ad.author.fullName}}</p>
    <strong>On s'occupe de tout.</strong>

    {{ form_start(form) }}
    <div class="alert alert-light">
        <h4 class="mt-3">A quelles dates souhaitez vous partir ?</h4>
        <div class="row">
            <div class="col">{{ form_row(form.startDate) }}</div>
            <div class="col">{{ form_row(form.endDate) }}</div>
        </div>
        <div class="text-center my-4 ">
            <H4 class="mt-3">Montant du séjour : <span id="amount">...</span>€</H4>
            <span id="days">?</span> nuit(s) à {{ad.price|number_format(2, ',', ' ')}} € par nuit.
        </div>
        <hr>
        <h4 class="mt-3">Vous souhaitez ajouter quelque chose ?</h4>
        {{ form_row(form.comment) }}
        <hr>
    </div>

    <div class="text-center">
        <h2>C'est presque terminé ...</h2> <br>
        <button type="submit" class="btn btn-success text-center">Je reserve ce logement</button>
    </div>
    {{form_end(form)}}
</div>
{% endblock %}

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"
    integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ=="
    crossorigin="anonymous"></script>

    <script>

        $(document).ready(function(){
            $("#booking_startDate, #booking_endDate").datepicker({
                format: 'dd/mm/yyyy', 
                datesDisabled: [
                    {% for day in ad.notAvailableDays %}
                        "{{ day.format('d/m/Y') }}",
                    {% endfor %}
                ],
                startDate: new Date()
            });

            $("#booking_startDate, #booking_endDate").on('change', calculAmount);

        });

        function calculAmount(){

            const endDate = new Date(
                $('#booking_endDate')
                    .val()
                    .replace(/(\d+)\/(\d+)\/(\d{4})/, '$3-$2-$1')
            );

            const startDate = new Date(
                $('#booking_startDate')
                    .val()
                    .replace(/(\d+)\/(\d+)\/(\d{4})/, '$3-$2-$1')
            );

            if(startDate && endDate && startDate < endDate){
                const dayTime = 24 * 60 * 60 * 1000;

                const interval = endDate.getTime() - startDate.getTime();
                const numberOfDays = interval / dayTime;
                const amountPrice = numberOfDays * {{ ad.price }};
                $("#days").text(numberOfDays);
                $("#amount").text(amountPrice.toLocaleString('fr-FR'));
            }
        }


    </script>
{% endblock javascripts %}