{% extends 'base.html.twig' %}

{% block title %}reserver {{ad.title}}{% endblock %}

{% block body %}
<div class="container">
    <H1>Reserver le logement {{ad.title}}</H1>
    <p>Vous etes sur le point de reserver le logement de {{ad.author.fullName}}</p>
    <strong>On s'occupe de tout.</strong>

    {{ form_start(form) }}
    <div class="alert alert-light">
        <H2>A quelles dates souhaitez vous prendre votre reservation ?</H2>
        <div class="row">
            <div class="col">{{ form_row(form.startDate) }}</div>
            <div class="col">{{ form_row(form.endDate) }}</div>
        </div>
    </div>
    <H4>Montant du séjour : <span id="amount">...</span>€</H4>
    <span id="days">?</span> nuit(s) à {{ad.price}}€/nuit.
    {{form_end(form)}}
</div>
{% endblock %}
