{# Variable for path Slug  #}
{% set pathSlug = path('ads_show', { 'slug': ad.slug }) %}

<div class="col-md-4">
    <div class="card bg-light mb-3">

        <div class="card-header text-center">
            {{ad.rooms}}
            Chambres,
            <strong>{{ad.price}}€/nuit</strong>
            <br>
            <small>Pas encore noté</small>
        </div>

        <a href="{{ pathSlug }}">
            <img src="{{ ad.coverImage }}" alt="PhotoDuLogement" style="height: 200px; width: 100%; display: block">
        </a>

        <div class="card-body">
            <h4 class="card-title">
                <a href="{{ pathSlug }}" class="text-dark text-decoration-none">
                    {{ad.title}}
                </a>
            </h4> 
            <p>{{ad.introduction}}</p>
            <a href="{{ pathSlug }}" class="btn btn-secondary">
                en savoir plus !</a>
        </div>

    </div>
</div>